extends layout

block content
  div.container
    form(method='POST' action='/scrape')
      div.row
        div.input-group.mb-3
          input.form-control(type='text', name='username', placeholder="Instagram username")
          div.input-group-append
            button.btn.btn-outline-secondary(type="submit") Submit
